body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.publish-btn{
    margin-bottom: 25px;
    float: right;
}
.community-menu{
    color: #999999;
    font-size: 12px;
}
